<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Segunda Prueba Integradora</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/index.css">
  <title>Segunda Prueba Integradora - Gelabert Francisco - Programación Backend - Comisión 55595 </title>
</head>

<body>
  <div>
    <p id="result"></p>
 </div>

<DIV>



  
</DIV>
</body>
<script src="/js/jwt/profile.js"></script>

</html>